.nav{
  padding: 20px;
  z-index: 2;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.679) ;
}
.auth{
  margin-left: auto;
}
.top-section{
  min-height: 80vh;
  background-size: cover;
  background-image:linear-gradient(to bottom, rgba(33, 29, 29, 0.344) 0%, rgba(7, 10, 12, 0.977) 100%), url('/public/background.jpg');
}
.join-section{
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
h1,h2,h3,h4,h5,h6{
  color: white;
  font-family: 'Roboto', sans-serif;

}
.catch-clause{
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
}
.row{
  width: 100%;
}
.join-form>.row>.inp>input{
  padding: 15px;
}
.desc{
  padding-top: 10vh;
  color: white;
}
.desc>h1{
  font-family: 'Roboto', sans-serif;
}
a,.footer-link{
  color:grey;
  text-decoration: none;
  font-size: 14px;

}
a:hover,.footer-link:hover{
  color:rgb(246, 240, 240);
  text-decoration: none;
  font-size: 14px;
}
.footer{
  padding-bottom: 10vh;
}
#vid-bg{
  position: relative;
  left: 0;
  right: 10;
  top: -50%;
  bottom: 0;
}
.feature-image{
  height: 400px;
  background-size: cover;
}
.f-r{
  margin: 5vh;
  padding-bottom: 30px;
}
.tv-overlay{
  position: sticky;
  z-index: 1;
}
.auth-group{
  min-height: 100vh;
  background-image:linear-gradient(to bottom, rgba(33, 29, 29, 0.344) 0%, rgba(7, 10, 12, 0.977) 100%), url('/public/background.jpg');
}
.login-card{
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.583);
  padding: 50px 40px 50px 40px;
  min-height: 60vh;
  min-width: 30vw;
  background-color: rgba(0, 0, 0, 0.823);
}
.login-section{
  position: absolute;
  top:50%;
  left: 45%;
  transform: translate(-50%,-50%);
}

.auth-input,.auth-input:focus{
  border: none;
  background: rgba(84, 81, 81, 0.789);
  padding: 10px;
  color:white;
}

.error{
  color: red;
}

.top-video{
  /* min-height: 80vh; */
  width: 100%;
  /* background-image: url('/public/banner.webp'); */
  background-size: cover;
  background-position: top;
}
.top-rank-video{
  width: 100%;
  display: '';
  
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 115vh;
  background-image:linear-gradient(to bottom, rgba(33, 29, 29, 0.344) 0%, rgba(7, 10, 12, 0.977) 100%);
}
.overlay>.x{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.overlay>.x>.content{
  padding-left: 10px;
  width: 30%;
  position: absolute;
  bottom: 0;
  padding-bottom: 50vh;
}
.overlay>.x>button{
  background  : none;
  position: absolute;
  margin-right: 10%;
  pad: 10px;
  border: none;
  right: 0;
  bottom: 0;
  margin-bottom: 40vh;
  border: 1px solid white;
    border-radius: 10px;
}
.x>button>img{
  height: 40px;
}
.overlay>.x>.content>p{
  font-size: 18px;
  color:white;
}
.body{
  background-color: black;
  min-height: 100vh;
}
.top-logo-genre{
  height: 50px;
}
/* small screen */

@media screen and (max-width: 768px){
  .feature-image{
    width: 100%;
  }
  .f-r{
    margin: 0vh;
    border-bottom: 5px solid rgba(128, 128, 128, 0.109);
    padding-bottom: 30px;
  }
  .catch-clause{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding-top: 20vh;
  }
  .inp,.inp_btn{
    width: 100vw;
  }

  .auth-group{
    min-height: 100vh;
    background-image:linear-gradient(to bottom, rgba(33, 29, 29, 0.344) 0%, rgba(7, 10, 12, 0.977) 100%), url('/public/background.jpg');
  }
  .login-card{
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.583);
    padding: 50px 40px 50px 40px;
    min-height: 30vh;
    min-width: 95vw;
    background-color: rgba(0, 0, 0, 0.823);
  }
  .login-section{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .auth-input,.auth-input:focus{
    border: none;
    background: rgba(84, 81, 81, 0.789);
    padding: 10px;
    color:white;
  }


  .top-video{
    /* min-height: 80vh; */
    width: 100%;
    /* background-image: url('/public/banner.webp'); */
    background-size: cover;
    background-position: top;
  }
  .top-rank-video{
    width: 100%;
    display: '';
    
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 37vh;
    background-image:linear-gradient(to bottom, rgba(33, 29, 29, 0.344) 0%, rgba(7, 10, 12, 0.977) 100%);
  }
  .overlay>.x{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .overlay>.x>.content{
    padding-left: 10px;
    width: 30%;
    position: absolute;
    bottom: 0;
    padding-bottom: 0vh;
  }
  .overlay>.x>button{
    background  : none;
    position: absolute;
    margin-right: 10%;
    pad: 10px;
    border: none;
    right: 0;
    bottom: 0;
    margin-bottom: 0.5vh;
    /* border: 1px solid white; */
    border-radius: 10px;
  }
  .x>button>img{
    height: 20px;
  }
  .overlay>.x>.content>p{
    font-size: 8px;
    color:white;
  }
  .top-logo-genre{
    height: 10px;
  }
}